.img {
  width: 100%;
  height: 100vh;
  display: block;
  object-fit: cover;
  position: relative; 
  z-index: 0;
}

.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100vh;
  width: 100%; 
}

.circle {
  width: 28em;
  height: 28em;
  border-radius: 50%;
  background-color: #33333380;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 80%;
  gap: 1rem;
}

.title {
  font-size: 3.4rem;
  font-weight: 300;
  padding-bottom: 1rem;
  color: #fff;
}

.subTitle {
  font-size: 2rem;
  padding-bottom: 1rem;
  color: #fff;
}

.btnSlider {
  padding: 3rem 8rem;
  z-index: 0;
}


@media (max-width: 575px) {
  .circle {
    width: 22em;
    height: 22em;
  }
  .title {
    font-size: 2.8rem;
    padding-bottom: 0.5rem;
  }
  .subTitle {
    font-size: 2rem;
    padding-bottom: 0.5rem;
  }
  .btnSlider {
    padding: 2.8rem 7.5rem;
  }
}

@media (max-width: 450px) {
  .circle {
    width: 18em;
    height: 18em;
  }
  .title {
    font-size: 2.4rem;
    padding-bottom: 0.5rem;
  }
  .subTitle {
    font-size: 1.8rem;
    padding-bottom: 0.5rem;
  }
}

@media (max-width: 360px) {
  .circle {
    width: 15em;
    height: 16em;
  }
  .title {
    font-size: 2.3rem;
    padding-bottom: 0.5rem;
  }
  .subTitle {
    font-size: 1.6rem;
    padding-bottom: 0.5rem;
  }

}

@media (max-width: 320px) {
  .circle {
    width: 14em;
    height: 14em;
  }
  .title {
    font-size: 2rem;
    padding-bottom: 0.5rem;
  }
  .subTitle {
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
  }

}
