.main {
  padding: 21rem 1rem 5rem;
}

.title {
  text-transform: uppercase;
  color: #926341;
  text-align: center;
  padding-bottom: 3rem;
}

.work {
  display: flex;
  justify-content: center;
  gap: 5rem;
  flex-wrap: wrap;
}

.wrapper {
  gap: 2rem;
  display: flex;
  flex-direction: column;
  transition: 1s;
  width: 30%;
  align-items: center;
}

.text {
  font-size: 2rem;
  word-wrap: break-word;
  text-align: center;
  width: 100%;
}

.img {
  width: 40rem;
  height: 25rem;
  object-fit: cover;
}

.wrapper:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.readMore {
  color: #a9845c;
  cursor: pointer;
  border-bottom: 1px solid #a9845c;
  margin-left: 5px;
}

.readMore:hover {
  color: #926341;
  border-bottom: 1px solid #926341;
}

.noPadding {
  padding: 0;
}

@media (max-width: 992px) {
  .work {
    flex-direction: column;
    align-items: center;
  }

  .wrapper {
    width: 100%;
  }

  .wrapper:hover {
    transform: none;
  }
}
