.about {
  padding: 11rem 10rem;
}

.blockone {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.title {
  text-transform: uppercase;
  color: #926341;
}

.mainTitle {
  text-transform: uppercase;
  color: #926341;
  padding-bottom: 1rem;
}

.subtitle {
  color: #926341;
}

.text {
  color: black;
}

.list {
  list-style: disc;
  gap: 5rem;
  font-weight: 600;
}

.item {
  font-weight: normal;
}

.list li:not(:last-child) {
  padding-bottom: 1rem;
}

.paragraph {
  padding-bottom: 1rem;
  font-weight: normal;
}

.item {
  padding-top: 1rem;
}

.main {
  padding: 5rem 10rem;
}

@media (max-width: 600px) {
  .about {
    padding: 8rem 3rem;
  }
  .main {
    padding: 2rem 4rem;
  }
  .noPadding {
  padding-top: 1rem; 
  padding-bottom: 0;

  }
  
 .title {
    padding-top: 2rem;
  }
}
