.footer {
  flex-shrink: 0;
  background-color: #3b3937;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 3rem 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem 0;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.items:hover {
  color: #ffd6a8;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.img {
  cursor: pointer;
}

.rights {
  text-align: center;
}

.viber {
  margin-right: 1rem;
}

@media (max-width: 353px) {
  .rights {
    font-size: 1.7rem;
  }
}
